<% provide(:title, @clip.name) %>
<h1 class="clip-name"><%= @clip.name %></h1>
<%= render 'clip_details', clip: @clip %>
<p>
<% if @current_user.group.present? %>
  <%= link_to 'Return to group', draw_group_path(@current_user.group.draw, @current_user.group) %>
<% else %>
  <%= link_to 'Return to draw', draw_path(@clip.draw) %>
<% end %>
</p>
