@charset "utf-8";

@import "normalize-rails";
@import "yale_ui_type";
@import "foundation_and_overrides";
@import "nav";
@import "footer";
@import "flashes";
@import "forms";
@import "inline_checkboxes_override";
@import "simpleform_submit_override";
@import "simpleform_hint_override";
@import "buildings";
@import "draws";
@import "groups";
@import "users";
@import "header_sizes";

*:focus {
  outline: $body-font-color auto 5px;
}

a.button { text-decoration: none; }
td.actions a.button { margin: 0 }

// Tabs and accordions, oh my
.accordion-title {
  font-size: 1.1em;

  &:hover, &:focus { color: $body-font-color; }
}

.tabs-title {
  a { font-size: 1em; }
  &.is-active a { color: $body-font-color; }
}

.card-divider a { color: $body-font-color; }

.homepage-hero {
  @include grid-col;
  text-align: center;

  @include breakpoint(medium) {
    @include grid-col-size(8);
    @include grid-col-pos(center);
  }
}

main { margin-top: 2em; }

footer {
  border-top: 1px solid black;
  padding-top: 1em;
  margin-top: 1em;
  line-height: 1.5;
}

.has-tip { font-weight: normal; }

dd { margin-bottom: 0.6rem; }
